<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.ac.hs.recipe">

    <!-- 인터넷 접속 허용 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name="App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_main_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">


        <!-- 로딩 화면 -->
        <activity
            android:name=".activity.LoadingActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>

        <!-- 로그인 -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="google.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.PasswordResetActivity" />
        <activity android:name=".activity.MemberInitActivity" />
        <activity android:name=".activity.CameraActivity" />
        <activity android:name=".activity.GalleryActivity" />
        <activity android:name=".activity.BasicActivity" />
        <activity android:name=".activity.WritePostActivity" />
        <activity android:name=".activity.RecipeActivity" />
        <activity android:name=".activity.ShowPostActivity" />
        <activity android:name=".activity.MyPostActivity" />


        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713(광고 안넣음) -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

    </application>

</manifest>